.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 25px;
    transition: 0.3s;
    float:inline-start
}
.nav-links a:hover {
    color: #00aaff;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #151414;
    padding: 15px 30px;
}

.logo img {
    width: 100px;
    border-radius: 100%;
}

body{
      background-image: url('https://i.pinimg.com/1200x/ed/07/f9/ed07f9d087fdadaa5d346f7284cb4672.jpg');
      background-repeat: no-repeat;
    
}

.contact h1{
    font-size: 32px;
    color: rgb(240, 144, 14);
    margin-bottom: 100px;
    text-align: center;
}

.contact p{
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.6;
    color: antiquewhite;
}

.contact a{
    color: rgb(240, 144, 14);
    text-decoration: none;
}
.icon a{
    color:white;
    text-decoration: none;
}
    
.contact{
    max: height 900px; ;
    max-width: 900px;
    background-color: aliceblue;
}